:root {
    /* established color palette */
    --color-primary: #242A38;
    --color-primary-light: #4E596F;
    --color-primary-dark: #1b1e2a;
    --color-accent: linear-gradient(to bottom right, #ff7d57, #F44B6C);
    --color-white: #fff;

    /* established font family, font weights, and font sizes */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-logo: 900;

    --fs-300: .75rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;

    --fs-logo : var(--fs-700);
    --fs-tagline: var(--fs-400);
    --fs-coffe-name: var(--fs-500);
    --fs-coffee-attributes: var(--fs-300);
    --fs-coffee-properties: var(--fs-400);
    --fs-header: var(--fs-600);
    --fs-button: var(--fs-300);
    --fs-search-text: var(--fs-300);

}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

ul {
    list-style-type: none;
}
h1 {
    color: var(--color-white);
    font-weight: var(--fw-bold);
    font-size: var(--fs-header);
    margin: 1.5rem 0 0 3rem;
}
body {
    background: var(--color-primary-dark);
    font-family: var(--ff-primary);
}
div.coffee{
    height: 20rem;
    width: 15rem;
    color: var(--color-white);
    background-image: var(--color-accent);
    border-radius: 1rem;
    margin: 1.5rem 3rem 3rem 3rem;
    text-align: center;
    box-shadow: 0 1rem 2rem #010118;
}
div.coffee-info {
    height: 13rem;
    width: 13rem;
    color: var(--color-white);
    background: var(--color-primary);
    text-align: left;
    border-radius: 1rem;
    padding:1rem 1rem;
}
li.coffee-label {
    color: var(--color-primary-light);
    font-size: var(--fs-coffee-attributes);
    font-weight: var(--fw-medium);
    padding-top: 1rem;
}
li.coffee-name {
    font-size: var(--fs-coffe-name);
    line-height: 1;
}
li.coffee-id {
    font-size: var(--fs-coffee-attributes);
    font-weight: var(--fw-medium);
}
li{
    font-size: var(--fs-coffee-properties);
    font-weight: var(--fw-bold);
}
header {
    background: #F44B6C;
}
#company-name {
    font-size: var(--fs-logo);
    font-weight: var(--fw-logo);
    font-style: italic;
    color: var(--color-white);
    margin-left: 3rem;
    line-height: 1;
}
#company-tagline {
    font-size: var(--fs-tagline);
    font-weight: var(--fw-medium);
    color: var(--color-primary-light);
    margin-left: 3rem;
}
#display-coffee-tiles {
    display: grid;
    grid-template-columns: 50% 50%;
    width: min(1200px, 100% - 2rem);
    margin-inline: auto;
}
#search-and-add-coffees {
    background-image: var(--color-accent);
}
#container {
    display: grid;
    grid-template-columns: 75% 25%;
}