:root {
    /* established color palette */
    --color-primary: #242A38;
    --color-primary-light: #4E596F;
    --color-primary-dark: #1b1e2a;
    --color-primary-dark2: #171A25;
    --color-accent-gradient: linear-gradient(to bottom right, #ff7d57, #F44B6C);
    --color-accent: #ff7d57;
    --color-white: #fff;

    /* established font family, font weights, and font sizes */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-logo: 900;

    --fs-300: .75rem;
    --fs-400: 1rem;
    --fs-450: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;

    --fs-logo : var(--fs-700);
    --fs-tagline: var(--fs-400);
    --fs-coffe-name: var(--fs-450);
    --fs-coffee-label: var(--fs-300);
    --fs-coffee-properties: var(--fs-400);
    --fs-header: var(--fs-600);
    --fs-button: var(--fs-300);
    --fs-search-text: var(--fs-300);

    /* Established Sizes and Widths */
    --size-nav-bar-element-height: 2rem;
    --size-coffee-tile-height: 20rem;
    --size-coffee-tile-width: 12rem;

    /* Established Spacing of elements*/
    --gap-coffee-tiles: 3rem;
    --gap-nav-bar-elements: .5rem;
    --margin-nav-bar-section: 10rem;
    --margin-left-main-section: 3rem;
    --padding-input-elements: .5rem;
    --border-radius-buttons: .35rem;
    --border-radius-coffee-tiles: .5rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    font: inherit;
}

ul {
    list-style-type: none;
}
h1 {
    color: var(--color-white);
    font-weight: var(--fw-bold);
    font-size: var(--fs-header);
    margin-top: 1rem;
    margin-left: var(--margin-left-main-section);
    height: 4rem;
    user-select: none;
}
h2 {
    color: var(--color-white);
    font-weight: var(--fw-bold);
    font-size: var(--fs-450);
    height: var(--size-nav-bar-element-height);
    user-select: none;
    grid-column: span 6;
    grid-row: 1;
}

button {
    background-image: var(--color-accent-gradient);
    border-radius: var(--border-radius-buttons);
    border: none;
    color: var(--color-white);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
}

button:hover {
    color: var(--color-primary-dark);
}

textarea {
    resize: none;
}

/*
//////////////////////////////////////////////////////////////
COFFEE TILES CONSTRUCTION AND STYLING
//////////////////////////////////////////////////////////////
 */

.coffee-tile{
    height: var(--size-coffee-tile-height);
    width: var(--size-coffee-tile-width);
    color: var(--color-white);
    background-image: var(--color-accent-gradient);
    border-radius: var(--border-radius-coffee-tiles);
    text-align: center;
    box-shadow: 0 .5rem 1rem var(--color-primary-dark2);
    display: grid;
    align-content: center;
    transition: transform 0.5s ease-in-out;
}
.coffee-tile-front{
    background-image: var(--color-accent-gradient);
    display: grid;
    grid-template-rows: 25% 75%;
    padding-top: .5rem;
}
.coffee-tile-front:hover {
    transform: scale(1.1);
    outline: .25rem solid var(--color-accent);
}
.coffee-tile-back{
    background-image: var(--color-primary);
    border-radius: var(--border-radius-coffee-tiles);
    grid-template-rows: 85% 15%;
    padding: 0 1rem 1rem 1rem;
}
.coffee-tile-back:hover {
    transform: scale(1.1);
    outline: .25rem solid var(--color-accent);
}
#button-coffee-more-info{
    width: 100%;
    height: var(--size-nav-bar-element-height);
    grid-row: 5;
    background: var(--color-primary-light);
    color: var(--color-primary-dark);
}
#button-coffee-more-info-back{
    width: 100%;
    height: var(--size-nav-bar-element-height);
    grid-column: 1/2;
    grid-row: 2;
    background: var(--color-primary-light);
    color: var(--color-primary-dark);
}
#coffee-tile-back-info{
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1;
}

.coffee-tile-body {
    width: 100%;
    color: var(--color-white);
    background: var(--color-primary);
    text-align: left;
    border-radius: var(--border-radius-coffee-tiles);
    padding:1rem 1rem;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;

}
.coffee-label-body {
    color: var(--color-primary-light);
    font-size: var(--fs-coffee-label);
    font-weight: var(--fw-medium);
    padding-top: .5rem;
}
.coffee-name {
    font-size: var(--fs-coffe-name);
    font-weight: var(--fw-bold);
    line-height: 1;
}
.coffee-label-head {
    font-size: var(--fs-coffee-label);
    font-weight: var(--fw-medium);
}
.coffee-properties-body{
    font-size: var(--fs-coffee-properties);
    font-weight: var(--fw-bold);
}

/*
//////////////////////////////////////////////////////////////
Page layout and grids
//////////////////////////////////////////////////////////////
*/
html, body {
    height:100%;
}
/*Body is, or should be split to header and main horizontally*/
body {
display: grid;
    grid-auto-flow: column;
    grid-template-columns: 7fr 3fr;
    background: var(--color-primary);
    font-family: var(--ff-primary);
}

/*
//////////////////////////////////////////////////////////////
MAIN SECTION
Section holds Header & Tile Board Sections
//////////////////////////////////////////////////////////////
 */
main {
    display: grid;
    grid-auto-flow: row;
}

/*
HEADER SECTION
Holds company name logo and tagline
*/
header {
    background: var(--color-primary);
    height: 75px;
    width: 100%;
    box-shadow: 0 .5rem 1rem var(--color-primary-dark2);
    position: fixed;
    user-select: none;
    z-index: 1;
}
#company-name {
    font-size: var(--fs-logo);
    font-weight: var(--fw-logo);
    font-style: italic;
    color: var(--color-white);
    margin-left: var(--margin-left-main-section);
    line-height: 1;
}
#company-tagline {
    font-size: var(--fs-tagline);
    font-weight: var(--fw-medium);
    color: var(--color-primary-light);
    letter-spacing: .08rem;
    margin-left: var(--margin-left-main-section);
}

/*
TILE BOARD SECTION
Holds Tiles
 */
#tile-board {
    padding-top: 5rem;
}



/* main-body is split into 2 sections horizontally h1 and coffee-tiles */
#tile-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-coffee-tiles);
}
/*
//////////////////////////////////////////////////////////////
SIDEBAR SECTION
Section holds Browse Coffees and Add Coffees Sections
//////////////////////////////////////////////////////////////
 */
#sidebar {
    position: fixed;
    background: var(--color-primary-dark);
    height: 100vh;
    padding: 9.5rem 2rem;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}
.navBarInputs{
    background: var(--color-primary);
    border: none;
    color: var(--color-primary-light);
    padding-left: var(--padding-input-elements);
}

/*
BROWSE COFFEES SECTION GRID
 */
.navBarAssets{
    width: 100%;
    height: var(--size-nav-bar-element-height);
}
#browse-coffees-section {
    display: grid;
    grid-template: repeat(5, 1fr) / auto;
    height: 20%;
    margin-bottom: var(--margin-nav-bar-section);
    gap: var(--gap-nav-bar-elements);
    right: 0;
}
#input-search {
    grid-column: 1/6;
    grid-row: 2;
    height: var(--size-nav-bar-element-height);
}
#button-search {
    grid-column: 6;
    grid-row: 2;
}
#roast-profile-selector-box {
    grid-column: span 6;
    grid-row: 3;
}

#coffee-origin-selector-box {
    grid-column: span 3;
    grid-row: 4;
}

#flavor-note-selector-box {
    grid-column: span 3;
    grid-row: 4;
}
#button-reset {
    grid-column: 1/4;
    grid-row: 5;
    color: var(--color-primary);
    background: var(--color-primary-light);
    height: var(--size-nav-bar-element-height);
}
#button-submit {
    grid-column: 4/7;
    grid-row: 5;
    height: var(--size-nav-bar-element-height);
}

/*
ADD COFFEES SECTION GRID
*/
#add-coffees-section {
    display: grid;
    grid-template: repeat(9, 1fr) / auto;
    height: 30%;
    margin-bottom: var(--margin-nav-bar-section);
    gap: var(--gap-nav-bar-elements);
}

#add-coffee-input-box {
    grid-column: span 6;
    grid-row: 2;
}
#add-coffee-producer-box{
    grid-column: span 6;
    grid-row: 3;
}
#add-coffee-origin-selector-box {
    grid-column: span 3;
    grid-row: 4;
}
#add-coffee-roast-profile-selector-box {
    grid-column: span 3;
    grid-row: 4;
}
#add-coffee-region-box{
    grid-column: span 6;
    grid-row: 5;
}
#add-coffee-flavor-notes-box {
    grid-column: 1/7;
    grid-row: 6/7;

}
#input-add-coffee-flavor-notes {
    height: 4rem;
}

#add-coffee-varietal-box{
    grid-column: span 3;
    grid-row: 7;
}
#add-coffee-altitude-box{
    grid-column: span 3;
    grid-row: 7;

}
#add-coffee-processing-method-box{
    grid-column: span 6;
    grid-row: 8;
}
#button-add-coffee {
    grid-column: 4/7;
    grid-row: 9;
    height: var(--size-nav-bar-element-height);
}







